<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>
<body>
    <h1 class="text-center">Signup</h1>

<div class="container d-flex justify-content-center">

<div style="max-width:600px">

<form method="post" action="/users/register/">
{% csrf_token %}
<div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="un">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="em">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="pswd">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="phone">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="date" class="form-control" id="exampleInputPassword1" name="dob">
  </div>
  <button type="submit" class="btn btn-primary">SIGNUP</button>
</form>

</div>

</div>

</body>
</html>